// @import '~bootstrap-icons/font/bootstrap-icons.css';

// Global

// Quita el simbolo de los dropdowns
.custom-dropdown-toggle::after {
    display: none !important;
}

.icon-botton {
    font-size: 10px;
    margin-top: 19px !important;
}

.card {
    margin-top: 5px;
}

label {
    font-weight: bold;
}

.btn-edit {
    font-size: 10px;
}

.container,
table,
input {
    font-size: 0.85em;
}

table {
    width: 100%;
    margin-top: 10px;
}

.thead-dark th {
    background-color: #212529;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.btn {
    margin-left: 10px;
    margin-top: 10px;
}

.btn-edit {
    margin-top: 0px !important;
}

// .has-error .form-control {
//     border-color: red;
// }

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    display: block;
}

.page-link {
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
    font-size: 0.85em;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
